html {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.progress-bar {
  height: 100%;
}

.btn-circle.btn-lg {
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
}

.step-container {
  height: calc(100% - 55px - 30px - 41px);
  display: flex;
  flex-direction: column;

  .layout {
    flex-grow: 1;
  }
}

.widget-item {
  height: 100%;
}

.col-with-2 {
  display: flex;
  flex-direction: column;
  gap: 22px;

  .widget-item {
    height: auto;
    flex-grow: 1;
  }
}

.timing {
  h2 {
    font-size: 1.7rem;
    line-height: 1;
  }

  small {
    font-size: 10px;
  }
}

.btn-upload {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  z-index: 4;
}

.dropdown-item {
  cursor: pointer;
  margin-bottom: 0;

  .custom-file-input {
    width: 0;
    height: 0;
  }
}
