@mobile-min-sz: 768px;

html {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.progress-bar {
  height: 100%;
}

.btn-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.btn-circle.btn-sm,
.btn-group-sm > .btn-circle.btn {
  width: 35px;
  height: 35px;
  padding: 8px 10px;
  font-size: 14px;
}

.btn-circle.btn-lg,
.btn-group-lg > .btn-circle.btn {
  width: 50px;
  height: 50px;
  padding: 14px 15px;
  font-size: 18px;
  line-height: 23px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 14px 15px;
  font-size: 24px;
}

.btn-circle.btn-lg {
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
}

.step-container {
  padding-top: 15px;

  .layout {
    flex-grow: 1;
  }

  @media screen and (min-width: @mobile-min-sz) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.widget-item {
  min-height: 80vh;

  @media screen and (min-width: @mobile-min-sz) {
    min-height: 0;
    height: 100%;
  }
}

.col-with-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .widget-item {
    height: auto;
    flex-grow: 1;
  }

  @media screen and (min-width: @mobile-min-sz) {
    gap: 20px;
  }
}

.timing {
  h2 {
    font-size: 1.7rem;
    line-height: 0.7;
    margin: 0;
  }

  small {
    font-size: 10px;
  }
}

.btn-upload {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 4;

  @media screen and (min-width: @mobile-min-sz) {
    position: absolute;
  }
}

.dropdown-item {
  cursor: pointer;
  margin-bottom: 0;

  .custom-file-input {
    width: 0;
    height: 0;
  }
}
.layout {
  [class*="col"] + [class*="col"] {
    padding-top: 10px;
  }

  @media screen and (min-width: @mobile-min-sz) {
    [class*="col"] + [class*="col"] {
      padding-top: 0;
    }

    [class*="col"] {
      // padding-left: 8px;
      // padding-right: 8px;
    }

    [class*="col"]:first-child {
      // padding-left: 15px;
    }

    [class*="col"]:last-child {
      // padding-right: 15px;
    }
  }
}
